<div class="bgComponent">
  <div class="form">
    <mat-card class="card">

        <mat-card-header>
            <mat-card-title>Register Class</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <div class="container">

            <mat-form-field appearance="fill">
              <mat-label>Select Course</mat-label>
              <mat-select [(ngModel)]="registerData.className">
                <mat-option *ngFor="let course of courses.course" value="{{course._id}}">{{course.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Select Teacher</mat-label>
              <mat-select [(ngModel)]="registerData.classTeacher">
                <mat-option *ngFor="let teacher of teachers.teacher" value="{{teacher._id}}">{{teacher.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input
                type="number"
                [(ngModel)]="registerData.quota"
                matInput
                placeholder="Student Quota"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
              type="text"
                [(ngModel)]="registerData.career"
                matInput
                placeholder="Career"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
              type="date"
                [(ngModel)]="registerData.startClass"
                matInput
                placeholder="Start Class"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
              type="date"
                [(ngModel)]="registerData.endClass"
                matInput
                placeholder="End Class"
                required
              />
            </mat-form-field>                                  
          </div>
        </mat-card-content>

        <mat-card-actions >
            <button mat-button 
            mat-raised-button
            class="button bgButton"
            (click)="registerClass()"
            >
            Register
          </button>            
        </mat-card-actions>
    </mat-card>
  </div>
</div>